<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:name="${applicationId}.permission.SETTING_CHANGED"
        android:protectionLevel="signature" />

    <application
        android:name=".app.ModuleApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="背屏助手"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        tools:ignore="MissingApplicationIcon">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BackScreenHelper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".bridge.SettingChangedReceiver"
            android:exported="true"
            android:permission="${applicationId}.permission.SETTING_CHANGED">
            <intent-filter>
                <action android:name="com.backscreen.helper.ACTION_SETTING_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="io.github.libxposed.service.XposedProvider"
            android:authorities="${applicationId}.XposedService"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
    </application>

    <uses-sdk tools:overrideLibrary="top.yukonga.miuix.kmp.blur" />

</manifest>
